:root {
    --heading-background-color: rgb(192, 229, 251);
    --heading-text-color: #1a3e8b;
    --heading-font: 'Montserrat', Helvetica, sans-serif;
    --padding: 1rem; 
    --border: 1px solid rgb(244, 97, 97);
    text-decoration: none;
}   
.hero img {
    display: block;
    width:100%;
    height: auto;
}