:root {
    --heading-background-color:  
    --heading-text-color:
    --padding: 
    --border: 
    text-decoration: none;
}   
.hero img {
    display: block;
    width:100%;
    height: auto;
}
nav a {
    color:rgb(244, 97, 97);
    display:block;
    padding: 20px;
}